<h1>Select a Department to view some stuff</h1>
<%# <%= link_to 'Add a Department', new_department_path %>
<ul>
  <% @department.each do |department|%>
  <li><%= link_to department.name, department%></li>
  <%end%>
</ul> %>